.widget__main-text {
  margin-top: 48px;
  font-family: 'Open Sans';
  font-size: 64px;
  font-weight: 300;
  line-height: 87px;
  color: #fff;
}

.widget__secondary-text {
  margin-top: 50px;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  color: #fff;
}