.header {
    margin-top: 32px;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1680px;
        margin: 0 auto;
        padding: 0 40px;
    }
}

.search {
    display: flex;
    flex-basis: 45%;
    justify-content: space-between;
    position: relative;
    padding: 16px 32px;
    border: 1px solid #6596b9;
    border-radius: 30px;
    background-color: #fff;
    z-index: 1000;

    &:focus-within .dropdown {
        display: block;
    }

    &:focus-within + &__backdrop {
        display: block;
        overflow: hidden;
    }

    &__input {
        flex: 1;
        margin-right: 24px;
        border: none;
        outline: none;
        font-family: 'Montserrat';
        font-size: 24px;

        &::placeholder {
            font-size: 16px;
        }
    }

    &__backdrop {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(79, 78, 78, 0.49);
        z-index: 5;
        pointer-events: none;
    }
}

.dropdown {
    display: none;
    position: absolute;
    width: 100%;
    padding: 28px 0;
    top: 100%;
    left: 0;
    border: 1px solid #6596b9;
    border-radius: 30px;
    background-color: #fff;
    font-family: 'Mulish';
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    list-style: none;
    z-index: 1000;

    &__item {
        padding: 10px 32px;
    }
    
    &__item:hover {
        background-color: #9fbed4;
        color: #fff;
        cursor: pointer;
    }
}

.lang__btn {
    padding: 14px 34px;
    border: 1px solid #9fbed4;
    border-radius: 30px;
    background-color: #fff;
    color: #9fbed4;
    outline: none;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    cursor: pointer;

    &:not(:active):hover, &:not(:disabled):hover {
        box-shadow: 2px 3px 9px rgba(101, 150, 185, 0.25);
        transition: box-shadow 0.1s ease-in-out;
    }

    &_selected, &:active {
        background-color: #6596b9;
        color: #fff;
    }

    &:not(&:last-child) {
        margin-right: 26px;
    }

    &:disabled {
        border: none;
        background-color: #cfdae2;
        color: #adb9c2;
        cursor: not-allowed;
    }
}
  
  
  
  
  
  
  
  